body {
	background-image: url("../gfx/bg.png");
	background-repeat: repeat;
	margin: 0;
}

#gameWindow img {
	position : absolute;
	margin-left: 8px;
	margin-top: 8px;
}

#console {
	width: 656px;
	display: block;
}

#gameWindow {
	width: 656px;
	height: 488px;
	overflow: hidden;
}
#faster, #slower {
    background-color: #dfdfdf;
    display: inline-block;
    padding: 0.4em;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}