body {
	background-image: url("../gfx/bg.png");
	background-repeat: repeat;
	margin: 0;
}

#gameWindow img {
	position : absolute;
    margin-left: 12px;
    margin-top: 24px;
}

#console {
    width: 654px;
    height: 1.5em;
    background-color: white;
    border: 1px solid black;
    display: block;
}

#gameWindow {
    width: 668px;
    height: 494px;
	overflow: hidden;
}

.clickable-button {
    background-color: #dfdfdf;
    display: inline-block;
    padding: 0.4em;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

#rupeeWrapper
{
	display: inline-block;
    padding: 0em 1em;
}

#heartWrapper, #heartWrapperP2 {
    padding: 0em 1em;
}

#gui * {
	vertical-align: top;
}

#rupee {
    width: 4em;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    font-size: 22px;
    display: inline-block;
    padding: 0px 0.3em;
}

#rupeeIcon {
    height: 32px;
}
#heartWrapperWrapper {
    display: inline-block;
}

#defaultControls {
    font-size: 14px;
    display: inline-block;
    padding: 0.5em;
    background-color: white;
    margin: 0.5em;
}

.controls {
    display: inline-block;
}